/**
 * This support file is used to style the WYSIWYG editor in the CMS
 */

@import "bootstrap.css";

body.mce-content-body {
    padding: 20px;
    margin: 0;
}
body.mce-content-body a.broken {
    background-color: #FF7B71;
    border: 1px red solid;
}