/* Define page size. Requires print-area adjustment! */
body {
    margin:     0;
    padding:    0;
    width:      100%;
    height:     5.5cm;
}

#print-area, #footer {
    font-family:    Arial, Helvetica, sans-serif;
}

/* Printable area */
#print-area {
    position:   relative;
    top:        0.7cm;
    left:       0.7cm;
    right:      0.7cm;
    bottom:     0.7cm;
    height: 4.5cm;
    width: 90%;
    font-size:      16px;
}

#print-area.beer-label h1 {
    font-size: 30px;
}

h1 {
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

h1 small {
    font-size: 14px !important;
    line-height: 14px !important;
    color: #666;
}

#number {
    position: absolute;
    left: 0;
    top: 0;
}

#abv {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
}
#category {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
}

small {
    font-size: 14px !important;
    line-height: 14px !important;
    color: #666;
}

small.info {
    font-size: 14px !important;
    line-height: 12px !important;
    padding: 0;
    margin: 0;
    display: block;
    /*position: absolute;*/
    /*left: 5cm;*/
    /*width: 4cm;*/
    /*top: 1.5cm;*/
    /*text-align: left;*/
}

.quantity {
    font-weight: bold;
    font-size: 14px !important;
    white-space: nowrap;
}
