/* navbar is fixed to the top, this accounts for it */
body {
  padding-top: 4.5rem;

    #page {
        min-height: 80vh;
        padding-bottom: 20px;
    }

    &.homepage {
        #page {
            padding-bottom: 0;
        }
    }
}

footer {
  //position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}

.bg-semi-transparent {
  background-color: rgba(0,0,0,0.6);
}

.dnadesign__elemental__models__elementcontent {
    .logo {
        position: absolute;
        left: 15%;
        width: 30%;
        top: 60%;

        @include media-breakpoint-down(sm) {
            width: 60%;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }

        img {
            @extend .img-fluid;
        }
    }

    .join-button {
        position: absolute;
        left: 60vw;

        @include media-breakpoint-down(md) {
            width: 90%;
            bottom: 10%;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
}

.join-button {
    position: absolute;
    left: 60vw;
}

.beer {
  border: 1px solid $gray-400;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;

  &.judged {
    background-color: $light;
  }

  .entry_id {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: $h4-font-size;
    color: $green;
  }

  .bjcpcat {
    color: $blue;
    font-size: $h5-font-size;
  }

  .session {

  }
}

.breadcrumb {
  li {
    @extend .breadcrumb-item;
  }
}

.beer-checkins {
    &.border {
        border: 1px solid #ddd;
        margin: 20px 0;
        padding: 20px;
    }

    .beer-checkin {
        margin-bottom: 10px;
        border-bottom: 1px dashed #aaa;
        h5 {
            margin: 0;
        }
        small {
            color: #666;
        }
    }
}

.dropdown-item {
    border-left: 5px solid $lob-green;
}

.where_top {
    margin-bottom: 20px;
}
