.btn-xl {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, 2rem, $btn-line-height-lg, $btn-border-radius-lg);
}

.homepage {
  #e1 {
    height: 100vh;
    margin-top: -4.5rem;

    .content-element__content {
      margin-top: 8rem;
      margin-left: 11rem;
    }
  }

  #e5 {
    background-color: rgba($lob-green, .5);
      padding-bottom: 50px;
      padding-top: 50px;

      h2 {
          text-align: center;
      }

    .content-element__content {

      ul {
          padding-left: 0;
          text-align: center;
        li {
          list-style: none;
          padding: 20px;
          border: 2px solid #6a8613;
          border-radius: 5px;
          //background: url("../images/arrow_down.png") bottom center/contain no-repeat;
          margin-top: 20px;
        }
      }
    }
  }

  #e4 {
    background-color: rgba($lob-green, .5);
    .content-element__content {
      text-align: center;
      margin-bottom: 8rem;
    }
  }
}

