body {
    #page {
        .navbar-dark {
            font-family: 'Prata', serif;
            .navbar-nav {
                .nav-link {
                    color: white;
                }

                .dropdown-menu {
                    background-color: rgba(0, 0, 0, 0.85);
                }
                .active {
                    .nav-link {
                        color: rgb(154, 194, 28);
                    }
                }

                .dropdown-item{
                    .nav-link {
                        color: white;
                        &:hover {
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

