
span.twitter-typeahead {

    .tt-menu {
        @extend .dropdown-menu;
        background-color: white;
        right: 0;
    }

    .tt-suggestion {
        @extend .dropdown-item;
        cursor: pointer;

        &:hover {
            background-color: #eee;
        }
    }

    .tt-suggestion.tt-cursor {
        @extend .dropdown-item.active;
    }

    .input-group & {
        display: flex !important;
        align-items: center;
        position: relative;
        flex: 1 1 auto;
        width: 1%;

        .tt-menu, .tt-hint, .tt-input {
            width: 100%;
        }
    }
}
