$white:    #fff;

$lob-green: #9ac21c;
$lob-green-dark: darken(#9ac21c, 6);

$primary:       $lob-green-dark !default;

$navbar-dark-color:                 rgba($white, .8) !default;
$navbar-dark-hover-color:           rgba($white, .4) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .2) !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$dropdown-bg: rgba(0,0,0,0.7);

body {
    #page {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 1.2rem;
    }
}
