
/* float the toggle button left */
.navbar-toggle {
	float: left;
	margin-left: 10px;
	margin-right: 0;
}

/* that is to initially hide the mobile menu */
#page #menu {
	display: none;
}

/* fix searchform in mobile menu */
#menu .form-inline,
#menu .navbar-form {
	margin: 20px;
	padding: 0;
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	.form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
}
/*
	jQuery.mmenu CSS
*/
@import "extensions/jquery.mmenu.themes";
@import "jquery.mmenu.oncanvas";
@import "addons/jquery.mmenu.offcanvas";